@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400&display=swap");
:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
header {
  background-color: var(--purple300);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
nav {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 20px 0;
}
.logo {
  font-size: 32px;
  font-weight: 600;
}
button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}
button:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav ul li {
  transition: 0.2s ease-in;
  border-bottom: 2px solid transparent;
}
nav ul li:hover {
  border-bottom: 2px solid white;
  transition: 0.2s ease-in;
}
.hero_section {
  background-image: url(images/hero_image.png);
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
}
.hero_section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero_section h1 {
  font-size: 88px;
}
.hero_section h3 {
  font-size: 33px;
}
.music-section {
  padding-top: 50px;
  background: var(--purple500);
}
.music-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}
.ipad-iphone-img {
  margin-top: -400px;
  position: relative;
  top: 400px;
}
.primary-btn {
  background-color: var(--red600);
  color: white;
}
.secondary-btn {
  background-color: var(--purple300);
  color: white;
}
.about-music {
  padding-top: 500px;
  display: grid;
  text-align: center;
  place-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
